[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# Flask and essential extensions
flask = "==2.0.3"
flask-sqlalchemy = "==2.5.1"
flask-migrate = "==3.1.0"
flask-swagger = "==0.2.14"
flask-cors = "==3.0.10"
flask-jwt-extended = "==4.3.1"
flask-admin = "*"
flask-mail = "*"
# Database and ORM
sqlalchemy = "<2.0.0"
psycopg2-binary = "==2.9.3"
alembic = "==1.7.6"
# Cloudinary for media management
cloudinary = "==1.29.0"
# Payment and Authentication
stripe = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
# Email and Communication
sendgrid = "*"
# Utility libraries
python-dotenv = "==0.19.2"
requests = "*"
pytz = "*"
certifi = "==2021.10.8"
click = "==8.0.4"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.3"
markupsafe = "==2.0.1"
werkzeug = "==2.0.3"
wtforms = "==3.0.1"
# Serialization, Parsing, and Helper Libraries
six = "==1.16.0"
python-dateutil = "==2.8.2"
pyyaml = "==6.0"
urllib3 = "==1.26.8"
mako = "==1.1.6"
python-editor = "==1.0.4"
typing-extensions = "*"
gunicorn = "*"

[requires]
python_version = "3.10"

[scripts]
start = "flask run -p 3001 -h 0.0.0.0"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
downgrade = "flask db downgrade"
insert-test-data = "flask insert-test-data"
reset_db = "bash ./docs/assets/reset_migrations.bash"
local = "heroku local"
deploy = "echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku'"
