[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==2.0.3"
sqlalchemy = "==1.4.31"
flask-sqlalchemy = "==2.5.1"
flask-migrate = "==3.1.0"
flask-swagger = "==0.2.14"
psycopg2-binary = "==2.9.3"
python-dotenv = "==0.19.2"
flask-cors = "==3.0.10"
gunicorn = "==20.1.0"
cloudinary = "==1.29.0"
flask-admin = "==1.5.8"
typing-extensions = "*"
flask-jwt-extended = "==4.3.1"
sendgrid = "*"
flask-mail = "*"
requests = "*"
pytz = "*"
alembic = "==1.7.6"
certifi = "==2021.10.8"
click = "==8.0.4"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.3"
mako = "==1.1.6"
markupsafe = "==2.0.1"
python-dateutil = "==2.8.2"
python-editor = "==1.0.4"
pyyaml = "==6.0"
six = "==1.16.0"
urllib3 = "==1.26.8"
werkzeug = "==2.0.3"
wtforms = "==3.0.1"

[requires]
python_version = "3.11"

[scripts]
start="flask run -p 3001 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
downgrade="flask db downgrade"
insert-test-data="flask insert-test-data"
reset_db="bash ./docs/assets/reset_migrations.bash"