/* .react-tel-input .flag-dropdown {
    width: 32px;
    border: none;   
} */

.mentor-profile {
    .header-text {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-size: 2.5rem;
    }
}